:root{
    --main-color: #212121;
    --color-title: #FFFFFF;
    --text-color: #757575;
    --color-hover: #2196F3;
    --background-header: #FFFFFF;
    --background-hero: #2F303A;
    --background-section: #E5E5E5;
    --background-content:#F5F4FA;
    --footer-color-logo: #FFFFFF;
    --header-boder-color: #ECECEC;
    --border-color:  #EEEEEE;
    --background-icon: #AFB1B8;
    --footer-icon: rgba(255, 255, 255, 0.1);
  }